*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:antiquewhite
}
h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    

}

input[type="submit"]{
    border-radius: 10px;
    color:black;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 45px;
    text-transform: uppercase;
    cursor: pointer;
}
input[type=text], input[type=password]{
    width: 100%;
    padding:12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:1px solid #ccc;
    box-sizing: border-box;
}
form{
    margin: 100px auto;
    width: 40%;
}
input[type=submit]{
    float: right;
}
input[type=checkbox]{
    margin-right: 10px;
}
a{
    text-decoration: none;
    color:black;
}
.social-icon{
    font-size: x-large;
    padding: 10px;
}
.social-container{
    text-align: center;
}
.forget-password{
    padding-left: 10px;
}
.input-icons{
    position: relative;
}
.input-icons .icon{
    position:absolute;
}
.icon{
    padding:20px;
}
input{
    text-align: center;
}
