*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    /* background-image: url('image/bg-image.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    text-align: center;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
span{
    font-size:12px;
}
input[type="submit"]{
    border-radius: 20px;
    border:1px solid #ff4b2b;
    color:#ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 80ms ease-in
}


form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
}
input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin:8px 0;
    width: 100%;
}
